.nebula-grid-container{
  display:grid ;
  width:100%;
  max-width: 100%;
  margin:0 auto;
  grid-column: 1fr 1fr ;
  grid-gap:1rem;
}
.btn{
  cursor:pointer;
  background:#000000;
  color:white;
  outline:none;
  border:none;
}
.btn:disabled{
  background:gray;
}
.nebula-tiles{
  cursor:pointer;
}
