.card {
  background-color: white;
  color: white;
  padding: 1rem;
  min-height: 4rem;
  transition: all 0.3s ease;
}

.cards {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  transition: all 0.3s ease;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}
